@model IPagedList<EducationSystem.Models.TopicModel>
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager

@using X.PagedList.Mvc.Core;
@using X.PagedList;
@using X.PagedList.Mvc.Common;

@{
    ViewData["Title"] = "Index";
}
<head>
    <link href='~/css/EducationSystem.css' rel='stylesheet' />
</head>
<h2>Available topics to study</h2>

@using (Html.BeginForm())
{
    <div class="table-header">
        <a class="add-new-button btn btn-primary" asp-action="Create">Add new topic</a>
        <div class="search-field">
            @Html.Hidden("SortOrder", (object)ViewBag.NameSortParm)
            @Html.Hidden("EmptySearch", 0)
            Find by name @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
            <input type="submit" value="Search" />
        </div>
    </div>
}
<table class="table">

    <colgroup>
        <col style="width:4%">
        <col style="width:20%">
        <col style="width:30%">
        <col style="width:20%">
    </colgroup>

    <thead>
        <tr>
            <th>
            </th>
            <th>
                @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (item.Learned == true)
                    {
                        <p>&#9734;</p>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)

                </td>
                <td>
                    @Truncate(item.Description)
                </td>
                <td>
                    <div class="table-item-buttons">
                        <a class="edu-system-button btn btn-light" asp-action="Edit" asp-route-id="@item.Id">Edit</a><div class="vertical-line" />
                        <a class="edu-system-button btn btn-light" asp-action="Details" asp-route-id="@item.Id">Details</a><div class="vertical-line" />
                        @{
                            if (User.IsInRole("Manager"))
                            {
                                <a class="edu-system-button btn btn-light" asp-action="Teams" asp-route-id="@item.Id">Teams</a><div class="vertical-line" />
                            }
                        }
                        @using (Html.BeginForm("Learn", "Topics", FormMethod.Post))
                        {
                            @Html.Hidden("topicId", item.Id);
                            @Html.Hidden("learned", item.Learned);
                            @Html.Hidden("type", "learnUnlearn");
                            @Html.Hidden("place", "index");
                            @if (item.Learned == false)
                            {
                                <input class="edu-system-button btn btn-light" type="submit" value="Learn" />
                            }
                            else
                            {
                                <input class="edu-system-button btn btn-light" type="submit" value="Unlearn" />
                            }
                        }<div class="vertical-line" />
                        @using (Html.BeginForm("Learn", "Topics", FormMethod.Post))
                        {
                            @Html.Hidden("topicId", item.Id);
                            @Html.Hidden("learned", item.GoalsLearned);
                            @Html.Hidden("type", "goal");
                            @Html.Hidden("place", "index");
                            @if (item.GoalsLearned == false)
                            {
                                <input class="edu-system-button btn btn-light" name="goal" type="submit" value="Set goal" />
                            }
                            else
                            {
                                <input class="edu-system-button btn btn-light" name="goal" type="submit" value="Unset goal" />
                            }
                        }
                    </div>

                </td>
            </tr>
            <tr>
            </tr>
        }
    </tbody>
</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager((IPagedList)Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }), new PagedListRenderOptions
    {
        LiElementClasses = new string[] { "page-item" },
        PageClasses = new string[] { "page-link" }
    })
@functions{
    public string Truncate(string yourString)
    {
        if (!String.IsNullOrEmpty(yourString))
        {
            return (yourString.Length <= 50) ? yourString : yourString.Substring(0, 50) + "...";
        }
        else
        {
            return "";
        }
    }

}
