@model EducationSystem.Models.Topic

@{
    ViewData["Title"] = "Teams";
}
<head>
    <link href='~/css/EducationSystem.css' rel='stylesheet' />
</head>
<h4>
    Teams that have studied "@Html.DisplayFor(model => model.Name)"
</h4>
@{
    var vb = ViewBag.teamModel;
    if (ViewBag.teamModel.Count > 0)
    {
        <hr />
        <h6>A total of @ViewBag.teamModel.Count teams have studied this topic</h6>
        @foreach (var a in ViewBag.teamModel)
        {
            <hr />
            <h4>@a.team.TeamName</h4>
            <h5>@a.workers.Count out of @a.teamSize members of this team have studied "@Html.DisplayFor(model => model.Name)"</h5>
            <h5>Team members: </h5>
            @foreach (var b in a.workers)
            {
                <dl class="row">
                    <dd class="col-sm-10">
                        @b.FirstName @b.LastName
                    </dd>
                </dl>
            }
        }
    }
}
<div>
    @if (Model.Parent == null)
    {
        <a class="edu-system-button btn btn-light" asp-action="Index">Back</a>
    }
    else
    {
        <a class="edu-system-button btn btn-light" asp-action="Details" asp-route-id="@Model.Parent.Id">Back</a>
    }
</div>