@model EducationSystem.Models.Topic

@{
    ViewData["Title"] = "Teams";
}

<h1>c</h1>
<hr />
<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Name)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Name)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Description)
    </dt>
    <dd class="col-sm-10">
        <span style="white-space:pre-line">@Html.DisplayFor(model => model.Description)</span>
    </dd>
</dl>





                @foreach (var a in ViewBag.teamModel) {
                <h3>@a.team.TeamName</h3>
                <h4>Learned @a.workers.Count out of @a.teamSize</h4>
                @foreach (var b in a.workers) {
                <p>@b.FirstName @b.LastName</p>
                }
                }

