@model IEnumerable<EducationSystem.Models.Team>

@{
    ViewData["Title"] = "Index";
}
<head>
    <link href='~/css/EducationSystem.css' rel='stylesheet' />
</head>
<h2>Teams</h2>

<p>
    <a class="add-new-button btn btn-primary" asp-action="Create">Create new team</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Team name
            </th>
            <th>
                Assigned team manager
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TeamName)
                </td>
                <td>
                    <p>
                        @Html.DisplayFor(modelItem => item.Manager.FirstName) 
                        @Html.DisplayFor(modelItem => item.Manager.LastName)
                    </p>
                </td>
                <td>
                    <div class="table-item-buttons">
                        <a class="edu-system-button btn btn-light" asp-action="Edit" asp-route-id="@item.Id">Edit</a><div class="vertical-line" />
                        <a class="edu-system-button btn btn-light" asp-action="Details" asp-route-id="@item.Id">Details</a><div class="vertical-line" />
                        <a class="edu-system-button btn btn-light" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
<button class="btn btn-warning" onclick="exportTableToCSV('teams.csv')">Export Table To CSV</button>

@section scripts
{
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    <!--Download CSV-->
    <script>
            function downloadCSV(csv, filename) {
                var csvFile;
                var downloadLink;

                // CSV file
                csvFile = new Blob([csv], { type: "text/csv" });

                // Download link
                downloadLink = document.createElement("a");

                // File name
                downloadLink.download = filename;

                // Create a link to the file
                downloadLink.href = window.URL.createObjectURL(csvFile);

                // Hide download link
                downloadLink.style.display = "none";

                // Add the link to DOM
                document.body.appendChild(downloadLink);

                // Click download link
                downloadLink.click();
            }

    </script>

    <!--Table To CSV-->
    <script>
            // To replace comma,double quote, check - https://code.msdn.microsoft.com/Web-HTML-table-To-CSV-with-6c9602d8
            function exportTableToCSV(filename) {
                var csv = [];
                var rows = document.querySelectorAll("table tr");

                for (var i = 0; i < rows.length; i++) {
                    var row = [], cols = rows[i].querySelectorAll("td, th");

                    for (var j = 0; j < cols.length-1; j++) {
                       row.push(cols[j].innerText);
                    }

                    csv.push(row.join(","));
                }

                // Download CSV file
                downloadCSV(csv.join("\n"), filename);
            }


    </script>
}